dist
cabal-dev
*sandbox*
*~*
*#*
*log*
*keter*
*txt*
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*testState*
*teststate*
*teststates*
config.yml
*.aes
deploy-tach-migration.sh
deployTachQuery.sh
*.tar.gz
tach-query.gz
*states/